/**
Backgrounds and colors
**/

.bg-my-dark { background: var(--special-dark); }
.bg-my-darkI { background: var(--special-dark) !important; }
.bg-my-grey { background: var(--special-grey); }
.bg-my-greyI { background: var(--special-grey) !important; }
.bg-my-yellow { background: var(--special-yellow); }
.bg-my-yellowI { background: var(--special-yellow) !important; }

.text-my-dark { color: var(--special-dark); }
.text-my-darkI { color: var(--special-dark) !important; }
.text-my-red { color: var(--special-red); }
.text-my-redI { color: var(--special-red) !important; }
.text-my-yellow { color: var(--special-yellow); }
.text-my-yellowI { color: var(--special-yellow) !important; }
.text-my-orange { color: var(--special-orange); }
.text-my-orangeI { color: var(--special-orange) !important; }
.text-my-blue { color: var(--special-blue); }
.text-my-blueI { color: var(--special-blue) !important; }
.text-my-green { color: var(--special-green); }
.text-my-greenI { color: var(--special-green) !important; }