@charset "UTF-8";

:root {
  // tags
  --link-color: #6893e0;
  --mark-color: #b8b800;
  --code-color: #df5f51;
  --comment-color: #8e877b;
  --button-border: #736b5f;

  // navbar
  --nav-bar-element-color: #bcb9b3;

  // blockquote
  --border-blockquote: #736b5f;
  --spoiler: #05628b;

  // editor
  --editor-background: rgba(36, 29, 23, 0.6);
  --editor-pre-background: #1b2429;
  --editor-pre-symbol: #d1cfcc;

  // colors
  --special-red: #d75a30;
  --special-yellow: #e6ba37;
  --special-orange: #d1ac3f;
  --special-green: #4ce685;
  --special-blue: #3fadde;
  --special-dark: #bcb9b3;
  --special-grey: #292d2f;
}

.table {
  color: rgb(188, 185, 179);
  border-color: rgb(50, 55, 57);
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background: #1b2429 !important;
  text-shadow: none !important;

  & *:not(.token) {
    color: var(--special-dark) !important;
    text-shadow: none !important;
  }

  & .token {
    text-shadow: none !important;

    &.tag, &.number { color: rgb(230, 87, 167); }
    &.punctuation, &.operator { color: rgb(151, 144, 134); }
    &.operator, &.named-entity, &.entity { background: inherit !important; }
    &.attr-name, &.string { color: rgb(182, 230, 87); }
    &.attr-value, &.keyword { color: rgb(77, 184, 230) }
    &.class-name, &.function, &.constant { color: rgb(201, 77, 102); }
    &.comment { color: rgb(137, 129, 116); }
  }
}

.border-dark {
  border: 1px solid rgb(115, 107, 95) !important;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  color: var(--special-dark);
}

.sep-both, .sl, .sr {
  background: var(--special-dark);
}

.memorize-button {
  color: var(--special-grey) !important;
}

.text-dark {
  color: rgb(188, 185, 179) !important;
}

.editor-toolbar button {
  color: #d1cfcc;

  &.active {
    background-color: rgb(23, 25, 26) !important;
  }
}

.CodeMirror {
  color: rgb(209, 207, 204) !important;
}

.sep-both, .sl, .sr {
  color: var(--special-grey);
  background: #161b20 !important;
}

.search-bar {
  background: rgb(209, 207, 204) !important;
}

input[name="commit-name"], textarea[name="commit-desc"] {
  color: #bcb9b3 !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: inherit !important;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  background: inherit !important;
}